
body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

.header{
    text-align: center;
    margin: 20px 18px;
    line-height: 1.5;
    font-size: 30px;
    line-height: 55px;
    background-color: #f3bd59;
}

.saludo{
    margin: 0 38px;
    text-align: center;
    line-height: 1.5;
  }

