<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset = "UTF-8">
    <title>Actividades recreativas para ti</title> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>Actividades recreativas</h1>
    </div>
    <div class="saludo">
        <h2>
            ¡Bienvenido/a!, le invitamos a revisar nuestra página para encontrar las actividades perfectas para ti
        </h2>
    </div>
    <div class="acciones">
        <div class="tarjeta">
          <h3>➕ Agregar actividad</h3>
          <p>Registra una nueva actividad recreativa en el sistema.</p>
          <button onclick="location.href='formulario.html'">Agregar</button>
        </div>
        <div class="tarjeta">
          <h3>📋 Ver listado</h3>
          <p>Revisa todas las actividades que se han agregado.</p>
          <button onclick="location.href='listado.html'">Ver listado</button>
        </div>
        <div class="tarjeta">
          <h3>📊 Ver estadísticas</h3>
          <p>Consulta estadísticas generales sobre las actividades.</p>
          <button onclick="location.href='estadisticas.html'">Ver estadísticas</button>
        </div>
      </div>
    <table class="mi-tabla">
        <thead>
            <tr>
                <th>Inicio</th>
                <th>Término</th>
                <th>Comuna</th>
                <th>Sector</th>
                <th>Tema</th>
                <th>Foto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2025-03-28 12:00</td>
                <td>2025-03-28 14:00</td>
                <td>Santiago</td>
                <td>Beauchef 850, terraza</td>
                <td>Escuela de Boxeo</td>
                <td><img src="{{ url_for('static', filename = 'uploads/boxeo.png') }}" alt="Niño con guantes de boxeo" width="130"></td>
            </tr>
            <tr>
                <td>2025-03-29 19:00</td>
                <td>2025-03-29 20:00</td>
                <td>Ñuñoa</td>
                <td>Plaza</td>
                <td>Cómo deshidratar fruta</td>
                <td><img src="{{ url_for('static', filename = 'uploads/frutas.png') }}" alt="Frutas deshidratadas" width="150"></td>
            </tr>
            <tr>
                <td>2025-04-02 10:00</td>
                <td>2025-04-02 12:30</td>
                <td>Providencia</td>
                <td>Parque Inés de Suárez</td>
                <td>Taller de cerámica básica</td>
                <td><img src="{{ url_for('static', filename = 'uploads/ceramica.png') }}" alt="Taller de cerámica" width="150"></td>
            </tr>
            <tr>
                <td>2025-04-03 16:00</td>
                <td>2025-04-03 18:00</td>
                <td>La Reina</td>
                <td>Casa de la Cultura</td>
                <td>Pintura al aire libre</td>
                <td><img src="{{ url_for('static', filename = 'uploads/pintura.png') }}" alt="Pintura al aire libre" width="150"></td>
            </tr>
            <tr>
                <td>2025-04-05 09:00</td>
                <td>2025-04-05 11:00</td>
                <td>Recoleta</td>
                <td>Huerto Urbano Recoleta</td>
                <td>Introducción a la huerta</td>
                <td><img src="{{ url_for('static', filename = 'uploads/huerto.png') }}" alt="Taller de huerta urbana" width="150"></td>
            </tr>
            
        </tbody>
    </table>
</body>
</html>
