
body {
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;;
    padding: 0;
    font-size: 15px;
}

.acciones{
  margin: 10px;
}

h1 {
    text-align: center;
    color: #1a1a1a;
    margin: 0px;
    padding: 16px;
    font-size: 60px;
    line-height: 55px;
    background-color: #f3bd59;
}

.saludo{
    margin: 0 38px;
    text-align: center;
    line-height: 1.5;
  }
.acciones {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
  }
  
.tarjeta {
  width: 250px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  background-color: #f9f9f9;
}

.tarjeta h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.tarjeta p {
  font-size: 14px;
  margin-bottom: 15px;
  color: #555;
}

.tarjeta button {
  padding: 10px 20px;
  border: none;
  background-color: #0066cc;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tarjeta button:hover {
  background-color: #004b99;
}

.mi-tabla {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}

.mi-tabla th, .mi-tabla td {
border: 1px solid #ccc;
padding: 10px;
text-align: left;
}

.mi-tabla td img {
  display: block;
  margin: 0 auto;
}


.mi-tabla thead {
background-color: #f2f2f2;
}

.mi-tabla tr:hover {
background-color: #f9f9f9;
}

.mensaje-exito {
    background: #d4edda;
    color: #155724;
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 20px;
    text-align: center;
}